.img-default {
    width: auto;
    height: auto;
}
.img-streak {
    width: 100%;
    height: auto;
    align-self: start;
    padding-bottom: 5px;
    filter: grayscale(100%);
}
.img-streak-active {
    filter: grayscale(0%);
}
.div-streak {
    width: 18px;
    position: relative;
}
.span-streak {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 900;
    color: var(--fg);
    font-family: 'Arial';
    text-shadow: 0px 0px 4px #000;
    margin: 0;
    text-align: center;
}
.w-full {
    width: 100%;
}
.section-default {
    max-width: 486px;
    margin: 0 1rem;
    border: 1px solid var(--border-subtle);
    border-radius: var(--border-radius-medium);
    box-shadow: 
        0px 2px 1px -1px rgba(20,20,20,.12), 
        0px 1px 1px 0px rgba(20,20,20,.06), 
        0px 1px 3px 0px rgba(20,20,20,.04);
    background: var(--canvas-glass);
    padding: 1rem;
    text-align: left;
}
.txt-bold {
    font-weight: 700;
}
.block {
    display: block;
}
.grid {
    display: grid;
    align-items: end;
    justify-items: left;
}
.header {
    font-size: 15px !important;
    width: 100%;
    font-weight: 700;
    margin-block-start: 0 !important;
    margin-block-ebd: 0 !important;
    grid-template-columns: 1fr min-content;
}
.header span {
    padding: 3px;
    padding-bottom: 5px;
    height: min-content;
}
.border-bottom {
    border-bottom: 1px solid var(--border-subtle);
}
div.week.ongoing-streak {
    background: rgb(242,112,36);
    background: linear-gradient(45deg, 
        rgba(242,112,36,1) 0%, 
        rgba(244,148,34,1) 14.3%, 
        rgba(246,197,41,1) 28.6%, 
        rgba(246,231,99,1) 42.8%, 
        rgba(246,241,151,1) 50%, 
        rgba(246,231,99,1) 57.1%, 
        rgba(246,197,41,1) 71.4%, 
        rgba(244,148,34,1) 85.7%, 
        rgba(242,112,36,1) 100%);
}
div.week.ongoing-streak::before {
    transform: scale(0.92, 0.94);
}
div.week {
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: 3px;
    background: rgb(142,142,142);
    background: linear-gradient(45deg, 
        rgba(142,142,142,1) 0%, 
        rgba(164,164,164,1) 14.3%, 
        rgba(194,194,194,1) 28.6%, 
        rgba(220,220,220,1) 42.8%, 
        rgba(232,232,232,1) 50%, 
        rgba(220,220,220,1) 57.1%, 
        rgba(194,194,194,1) 71.4%, 
        rgba(164,164,164,1) 85.7%, 
        rgba(142,142,142,1) 100%);
    position: relative;
    z-index: 1;
    transition: 300ms;
    display: grid;
    place-items: center;
    border: 0.5px solid black;
    
}
div.week:hover::before {
    transform: scale(0.92, 0.94);
}
div.week.day-current::before {
    transform: scale(0.92, 0.94);
}
div.week.streaked::before {
    transform: scale(0.92, 0.94);
}
div.week.streaked:hover::before {
    transform: scale(0.92, 0.94);
}
div.week:hover span {
    transform: scale(1.3)
}
div.week::before {
    border-radius: 2px;
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 500ms;
    aspect-ratio: unset;
    background-color: var(--border-subtle);
}
div.week.day-frozen {
    background: rgb(141,214,248);
    background: linear-gradient(90deg, 
        rgba(141,214,248,1) 0%, 
        rgba(141,184,248,1) 14.3%, 
        rgba(141,169,248,1) 28.6%, 
        rgba(146,162,248,1) 42.8%, 
        rgba(149,141,248,1) 50%, 
        rgba(146,162,248,1) 57.1%, 
        rgba(141,169,248,1) 71.4%, 
        rgba(141,192,248,1) 85.7%, 
        rgba(141,214,248,1) 100%);
}
div.week.day-frozen::before {
    transform: scale(0.92, 0.94);
}
div.week.day-frozen:hover::before {
    transform: scale(0.92, 0.94);
}
.week span {
    display: block;
    transition: 500ms;
    font-weight: 900;
    color: var(--fg);
    text-align: center;
}
.week span:nth-child(2) {
    font-size: 6px;
}
div.week-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    place-items: center;
    margin-block: 1rem;
}
div.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}